<form id="msform" method="POST" action="/login-process">
    <fieldset>
        <h2 class="fs-title">Sign in</h2>
        <!--<img src="/images/uibooster_logo.png" width="60" style="margin-bottom: 10px;" alt="UIBooster logo"/>-->
        <input type="text" name="username" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" name="next" class="next green-button btn" value="Sign in" />
    </fieldset>
</form>


<form id="msform" method="POST" action="/process">
    <!-- fieldsets -->
    <fieldset>
        <h5 class="" style="margin-bottom:0;">New in UIBooster? <a href="/create-an-account">Create an account</a>.</h5>
    </fieldset>
</form>