<% layout("../index")%>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <!--Start X-Panel-->
        <div class="x_panel">
            <div class="x_title">
                <h2>The recorded sessions <small>Mouse Tracking</small></h2>
                <!--                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>-->
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table id="example" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Domain</th>
                            <th>session id</th>
                            <th>Created at</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Domain</th>
                            <th>id</th>
                            <th>Created at</th>
                            <th> </th>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>     
        <!--End X-Panel-->
    </div>
</div>
<script>
    var tab;
    var started = false;
    
    function reloadDt(){
        if(!started){
            setInterval(function(){
                tab.ajax.reload();
                console.log('sdddddddddddddddddd')
            }, 3000);
            started = true;
        }
            
    }
    
    function removeTracking(e, data) {
        var http = new XMLHttpRequest();
        var url = "/dashboard/remove-tracking/";
        var params = "tracker_id=" + data;
        http.open("POST", url, true);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        http.onreadystatechange = function () {
            if (http.readyState == 4 && http.status == 200) {
                //window.location.reload();
                tab.ajax.reload();
            }
        }
        http.send(params);
    }
    ;

    $(document).ready(function () {
        tab = $('#example').DataTable({
            "ajax": {
                "url": "/dashboard/get-sessions-list",
                "type": "POST"
            },
            "columns": [
                {"data": "origin"},
                {"data": "session_id"},
                {
                    "orderable": true,
                    "data": "session_started_at",
                    "render": function (data, type, row) {
                        var date = new Date(data);
                        return ('0' + date.getDate()).slice(-2) + '/' + ('0' + (date.getMonth() + 1)).slice(-2) + '/' + date.getFullYear() + '&nbsp;&nbsp;&nbsp;' + ('0' + date.getHours()).slice(-2) + ':' + ('0' + date.getMinutes()).slice(-2) + ':' + ('0' + date.getSeconds()).slice(-2)
                    },
                },
//                {
//                    "orderable": true,
//                    "data": "session_started_at",
//                    "render": function (data, type, row) {
//                        var date = new Date(parseFloat(data));
//                        return ('0' + date.getDate()).slice(-2) + '/' + ('0' + (date.getMonth() + 1)).slice(-2) + '/' + date.getFullYear() + '&nbsp;&nbsp;&nbsp;' + ('0' + date.getHours()).slice(-2) + ':' + ('0' + date.getMinutes()).slice(-2)
//                    },
//                },
//                {
//                    "orderable": true,
//                    "data": "session_started_at",
//                    "render": function (data, type, row) {
//                        var end_time = row.tracking_data[row.tracking_data.length-1].time
//                        var end_date = new Date(end_time);
//                        
//                        return ('0' + end_date.getHours()).slice(-2) + ':' 
//                        + ('0' + end_date.getMinutes()).slice(-2) + ':' 
//                        + ('0' + end_date.getSeconds()).slice(-2);
//                    },
//                },
                {
                    "orderable": false,
                    "data": "id",
                    "render": function (data, type, row) {
                        reloadDt()
                        var url = "/dashboard/display-tracking/" + data
                        var url_del = "/dashboard/remove-tracking/" + data
                        return '<button class="btn btn-danger btn-rounded btn-condensed btn-sm edit pull-right" onclick="javascript:removeTracking(this.event, \'' + data + '\')">Delete</button>'
                                + '<button class="btn btn-default btn-rounded btn-condensed btn-sm edit pull-right" onclick="window.location=\'' + url + '\'">Play</button>';

                    },
                }

            ],
            //ordering: true,
            //order:[[3, "desc"]]
        });



    });

</script> 
