<% layout("../index")%>



<style>
    iframe{
        position:absolute;
        top:0;
        left:0;
        z-index:100;
        border: 0;
    }
    canvas{

        position:absolute;
        top:0;
        left:0;
        z-index:101;
    }
    .track-timeline{
        position: relative;
        width: 100%;
        height: 8px;
        background: #ccc;
        border: 1px solid #000;
    }
    .pointer{
        position: absolute;
        top: -6px;
        background: #f20d0d;
        border: 1px solid #000;
        height: 18px;
        width: 4px;

    }
    .path-step{    
        float: left;
        background-color: #2A3F54;
        color: #fff;
        padding: 2px 10px;
        cursor: pointer;
        margin-bottom: 4px;
    }
    .path-step-arrow{
        float: left;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-left: 12px solid #2A3F54;
        border-bottom: 11px solid transparent;
        margin-right: 10px;
    }
    .path-step.active{
        background-color: #42b72a;
    }
    .path-step-arrow.active{
        border-left: 12px solid #42b72a;
    }




    #trck-player{
        background: #000;
        padding: 0;

    }
    #tracker-background{
        background: #000;
    }
    .huj{
        background: #000;
        height: 50px;
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
    /*    #trck-play-session {
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 15px solid #fff;
            margin: 15px 14px;
            cursor: pointer;
        }*/

    #trck-play-session{
        cursor: pointer;
    }
    #trck-play-session.play {
        margin: 13px 18px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-left: 16px solid #fff;
        border-bottom: 12px solid transparent;
    }

    #trck-play-session.pause {
        margin: 13px 14px;
        width: 21px;
        height: 25px;
        border-right: 8px solid #fff;
        border-left: 8px solid #fff;
    }
    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    #trck-play-session.reload{
        display: inline-block;
        position: relative;
        -webkit-animation: rotate 1.5s linear infinite;
        animation: rotate 1.5s linear infinite;
        border-color: transparent white;
        border-radius: 50%;
        border-style: solid;
        border-width: 3px;
        height: 25px;
        margin: 12px;
        width: 25px;
    }
    #trck-play-session.reload:before {
        border-color: transparent white transparent transparent;
        border-width: 5px 8px 5px 10px;
        bottom: -9px;
        right: 0px;
    }
    #trck-play-session.reload:before, #trck-play-session.reload:after {
        border-style: solid;
        content: '';
        display: block;
        position: absolute;
        width: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    #trck-play-session.reload:after {
        border-color: transparent transparent transparent white;
        border-width: 5px 10px 5px 10px;
        bottom: 16px;
        right: 2px;
    }
    /*    @-webkit-keyframes rotate {
            100% { -webkit-transform: rotate(360deg); }
        }
        @keyframes rotate {
            100% { transform: rotate(360deg); }
        }*/
    #trck-timeline{
        width: 96%;
        height: 10px;
        position: absolute;
        top: 20px;
        left: 50px;
        background-color: #ccc;
    }
    #trck-timeline #trck-progress{
        position: absolute;
        top: 0;
        left: 0;
        height: 10px;
        max-width: 1844px;
        background: deepskyblue;
    }
    .user-action{
        float: left;
        clear: left;
        margin-bottom: 10px;
        margin-left: -4px;
    }
    .user-action.active{
        margin-left: -5px;
    }
    .user-action p{
        float: left;
        margin-left: 3px;
        line-height: 11px;
    }
    .user-action.active p{
        font-weight: bold;
        font-size: 17px;
    }
    .user-action.active p span{
        font-size: 14px;
    }
    .user-action p span.actag{
        text-transform: lowercase;
        font-style: italic;
        color: #888;
    }
    .user-action p span.time{
        
    }
    .user-action .mark{
        float: left;
        background-color: #0f0;
        height: 10px;
        width: 10px;
    }
    .user-action.active .mark{
        height: 12px;
        width: 12px;
        margin-top: -1px;
    }
    .click-action > .mark{
        background-color: #0f0;
    }
    .action-mark{
            width: 6px;
            height: 15px;
            position: absolute;
            border-left: 1px solid black;
            border-right: 1px solid black;
            margin-top: -2px;
    }
    .action-mark.click{
        background-color: #0f0;
    }
</style>


<div class="row">
    <div class="col-md-2">
        <div class="x_panel">
            <div class="x_title">
                <h2>Actions <small</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="actions-container">

            </div>
        </div>
    </div>
    <div class="col-md-10">
        <!--Start X-Panel-->
        <div id="trck-player" class="x_panel">
            <div id="tracking-player" style="position:absolute;">
                <iframe id="tracker-background" name="tracker-background" ></iframe>


                <!--<img id="bckgr" />-->
                <!--<canvas id="tracker-canvas"></canvas>-->
                <div id="overlay" style="position:absolute"></div>
                <div class="huj">
                    <div id="trck-play-session" class="pause"></div>
                    <div id="trck-time">120:59</div>
                    <div id="trck-timeline">
                        <div id="trck-progress">
                            <div class="action-mark"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
        <!--End X-Panel-->


    </div>
</div>
<script src="/js/tracker.js"></script>
<script>
    var tracker_id = "<%= tracker_id %>";
    var tracker = new Tracker();
    tracker.init(tracker_id);

</script>
