<% layout("../index")%>



<style>
    iframe{
        position:absolute;
        top:0;
        left:0;
        z-index:100;
        border: 0;
    }
    canvas{

        position:absolute;
        top:0;
        left:0;
        z-index:101;
    }
    .track-timeline{
        position: relative;
        width: 100%;
        height: 8px;
        background: #ccc;
        border: 1px solid #000;
    }
    .pointer{
        position: absolute;
        top: -6px;
        background: #f20d0d;
        border: 1px solid #000;
        height: 18px;
        width: 4px;

    }
    .path-step{    
        float: left;
        background-color: #2A3F54;
        color: #fff;
        padding: 2px 10px;
        cursor: pointer;
        margin-bottom: 4px;
    }
    .path-step-arrow{
        float: left;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-left: 12px solid #2A3F54;
        border-bottom: 11px solid transparent;
        margin-right: 10px;
    }
    .path-step.active{
        background-color: #42b72a;
    }
    .path-step-arrow.active{
        border-left: 12px solid #42b72a;
    }




    #trck-player{
        background: #000;
        padding: 0;

    }
    #tracker-background{
        background: #000;
    }
    .huj{
        background: #000;
        height: 50px;
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
    #trck-play-session {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
        margin: 15px 14px;
        cursor: pointer;
    }
    #trck-timeline{
        width: 96%;
        height: 10px;
        position: absolute;
        top: 20px;
        left: 50px;
        background-color: #ccc;
    }
    #trck-timeline #trck-progress{
        position: absolute;
        top: 0;
        left: 0;
        height: 10px;
        max-width: 1844px;
        background: deepskyblue;
    }
</style>


<div class="row">
    <div class="col-md-2">
        <div class="x_panel">
            <div class="x_title">
                <h2>Actions <small</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

            </div>
        </div>
    </div>
    <div class="col-md-10">
        <!--Start X-Panel-->
        <div id="trck-player" class="x_panel">
            <div id="tracking-player" style="position:absolute;">
                <iframe id="tracker-background" name="tracker-background" ></iframe>


                <!--<img id="bckgr" />-->
                <!--<canvas id="tracker-canvas"></canvas>-->
                <div id="overlay" style="position:absolute"></div>
                <div class="huj">
                    <div id="trck-play-session"></div>
                    <div id="trck-timeline">
                        <div id="trck-progress"></div>
                    </div>
                </div>
            </div>
        </div>     
        <!--End X-Panel-->


    </div>
</div>
<script src="/js/tracker.js"></script>
<script>
    var tracker_id = "<%= tracker_id %>";
    var tracker = new Tracker();
    tracker.init(tracker_id);

</script>
